:root{
    --morado: #842ee7;
    --gris: #696969;
    --blanco: #c2c2c2;
    --negro: #3f3f3f;
}

body {
    background-color: var(--blanco);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
    display: flex;
    align-items: center;   
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    background-color: white;
}

.banner {
    width: 100%;
    height: 150px;
    background: var(--morado);
}

.perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    position: relative;
}

.fotoPerfil {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.infoPerfil {
    text-align: center;
    margin-top: 20px;
}

.nombrePerfil {
    font-size: 24px;
    color: var(--negro);
}

.ciudadPerfil {
    font-size: 14px;
    color:  var(--gris);
    margin-bottom: 20px;
}

.stats {
    display: flex;
    width: 100%;
    padding-top: 5px;
}

.itemStats {
    flex: 1;
    text-align: center;
}

.numeroStats {
    font-size: 20px;
    font-weight: bold;
    color: var(--morado);
    margin-bottom: 5px;
}

.textoStats {
    font-size: 12px;
    color: var(--gris);
}

