:root{
    --grisOscuro: rgb(67, 67, 67);
    --negro: rgb(36, 36, 36);
    --rojo: rgb(255, 73, 73);
    --blanco: rgb(226, 226, 226);
    --margin: 0;
}

.oswald-oswaldFont {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

body{
    margin: var(--margin);
}

.header{
    background-color: var(--rojo);
    padding: 20px;
}

.navList{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; 
    gap: 20px; 
    align-items: center;
}

.navLink{
    color: var(--blanco);
    text-decoration: none;
    display: inline-block;

}

.heroSection{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: var(--grisOscuro);
    height: 65vh;
}

.heroTitulo{
    color: var(--rojo);
    font-size: 200px;
    font-family: "Oswald", sans-serif;
    margin: var(--margin);
}

.heroSubtitulo{
    color: var(--blanco);
    font-family: "Oswald", sans-serif;
    margin: var(--margin);
}

.introduccion{
    background-color: var(--negro);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 90vh;
    padding-left: 20px;
}

.introduccionTexto{
    color: var(--blanco);
    font-family: "Oswald", sans-serif;
    text-align: left;
    align-items: left;
    padding-left: 20px;
    max-width: 30vw;
    font-size: 90px;
}

.introduccionRight{
    flex: 0 0 35%;
    max-width: 35%;
}

.introduccionDetalle{
    color: var(--blanco);
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    text-align: right;
    margin: 0;
    padding-right: 8px;
}
